/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;   
}

@media (max-width: 428px){
    .header{width: 100%;}
}

.header a{
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.header2{
    width: 100%;
    display: flex;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}


@media (max-width: 428px){
    .header2{flex-direction: column;}
}



.header3{
    width: 50%;
}

.header3 img{
   width: 100%;
    object-fit: cover;
   
    
}


@media (max-width: 428px){
    .header3 img{width: 428px;;}
}




.header4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 15px;
    
}

.header4 p{
    font-size: 16px;
    
}

@media (max-width: 428px){
    .header4{width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;}
}


.header5 p{
    font-size: 24px;
    color: #0027d5;
}

.header7{
    display: flex;
    align-items: center;
    margin-top: 10px;
}




.header4 h1{
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.header6{
    display: flex;
    background: blue;
    color: white;
    border-radius: 40px;
    font-size: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
    margin-left: 10px;
    
}



.wrap{
    width: 636px;
    margin: 0 auto;
    margin-top: 60px;
}



@media (max-width: 428px){
    .wrap{width: 100%;}
}



@media (max-width: 428px){
    .wrap img{width:100%;}
}



.wrap h1{
    font-size: 28px;
    color: blue;
    font-weight: bold;
    margin-bottom: 36px;
    margin-top: 30px;
}

.wrap h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.wrap p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.wrap ol{
    line-height: 1.5;
}



.content0 p{
    margin-bottom: 50px;
    
}

.content0 h1{
    margin-bottom: 25px;
}

.content1{
    margin-bottom: 60px;
}

.bluetext{
    color: #0027d5;
    font-weight: bold;
    
}

.block{
    margin-top: 20px;
    background: #ededed;
    padding: 24px;
    font-weight: bold;
    border-radius: 20px;
}




ul{
    padding-left: 20px;
    list-style: disc;
}

.content2{
    margin-bottom: 50px;
}

.content2 ul{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 0px;
}

.content2 li{
    line-height: 1.5;
}

.content2 .block{
    margin-bottom: 30px;
}

.content3{
    margin-bottom: 50px;
}

.content3 li{
    line-height: 1.5;
}

.content4{
    margin-bottom: 70px;
}

.content4 h1{
    margin-bottom: 30px;
}

.content4 .block{
    margin-bottom: 20px;
}

.borderline{
    border-bottom: 1px solid #0027d5;
    color: #0027d5;
    font-weight: bold;
}

.content5 h1{
    margin-bottom: 30px;
}

.content5 ul{
    line-height: 1.5;
}

.content6{

    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 80px;
    
}

.content6 a{
    font-size: 16px;
    display: flex;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    width: 108px;
    justify-content: center;
    }

.footer1{
    display: flex;
    justify-content: space-around;
    border-top: 1px black solid;
    padding-top: 80px;
    padding-bottom: 80px;
}


.footer1 p{
    font-size: 32px;
    font-weight: 500px;
}

@media (max-width: 428px){
    .footer1{flex-direction: column;
    align-items: center;
    }

    .footer1 p{
    margin-bottom: 40px;
    }
}

.footer3{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}